@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Figtree", sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: white;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    flex-wrap: wrap;
}

.righth,
.lefth {
    display: flex;
    flex-direction: row;
    padding: 10px 10px;
    flex-wrap: wrap;
}

.lefth {
    margin-left: 20px;
}

.righth {
    gap: 32px;
}

.home1,
.about11,
.services1,
.pf1,
.contact1 {
    color: black;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

.h-b {
    height: 3px;
    background-color: transparent;
    width: 0%;
}

.home:hover .h-b,
.about:hover .h-b,
.services:hover .h-b,
.pf:hover .h-b,
.contact:hover .h-b {
    background-color: black;
    animation: line 0.5s ease forwards;
}

@keyframes line {
    from {
        opacity: 0;
        width: 0%;
    }

    to {
        opacity: 1;
        width: 100%;
    }
}

.rt {
    color: black;
    font-size: 20px;
}

.rt .name,
.rt .io {
    background-color: black;
    color: white;
    padding: 0px 8px 0px 8px;
    border-radius: 10px 0px 0px 15px;
    letter-spacing: 1.5px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
    transition: background-color 0.9s ease, color 0.9s ease;
}

.rt:hover .name {
    background-color: white;
    color: black;
}

.rt .io {
    border-radius: 0px 10px 15px 0px;
    background-color: white;
    color: black;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
}

.rt:hover .io {
    background-color: black;
    color: white;
}

a {
    text-decoration: none;
}

.con {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 2;
    margin-left: 20px;
}

.role {
    margin-bottom: 10px;
    font-size: 20px;
}

.cursor {
    display: inline-block;
    animation: blink 0.7s steps(1) infinite;
    color: #000;
}

@keyframes blink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

.con2 {
    flex: 1;
}

.con .name h1 {
    font-size: 70px;
    font-family: 'Roboto Mono', monospace;
}

.con1 {
    display: flex;
    flex-direction: row;
}

.con2 img {
    position: relative;
    top: 40px;
    height: 500px;
    width: 500px;
}

.centerwrap {
    display: flex;
    /* height: 100vh; */
    justify-content: center;
    align-items: center;
}

.con3 {
    display: flex;
    flex-direction: row;
    height: auto;
    width: 1050px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
}

.img12 {
    height: 200px;
    width: 200px;
    border-radius: 100%;
}

.about1,
.about2 {
    padding: 20px 20px;
    flex: 1;
}

.about1 {
    display: flex;
    flex-direction: column;
}

.a2h {
    padding-bottom: 20px;
}

.a121,
.a122 {
    padding: 10px;
}

.a12 {
    display: flex;
    flex-direction: row;
}

.a122 {
    padding: 40px 0px 40px 10px;
}

ul {
    list-style: none;
    line-height: 30px;
}

.a13 {
    padding-top: 20px;
    padding-left: 20px;
}

.a13 h3 {
    padding-bottom: 10px;
}

.a2h h2 {
    display: inline-block;
    border-bottom: 3px solid black;
}


.a13 {
    font-family: sans-serif;
}

.skills li {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 16px;
}

.bar {
    height: 8px;
    width: 70%;
    background-color: #e0e0e0;
    border-radius: 5px;
    margin-top: 6px;
    overflow: hidden;
}

.centerwrap {
    opacity: 1;
    transform: translateY(100px);

}

.centerwrap.active {
    animation: slideInUp 1s ease-out forwards;
}

@keyframes slideInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fill {
    height: 100%;
    background-color: black;
    width: 0%;
    transition: width 0.3s ease;
    border-radius: 5px;
}

.fill.active {
    animation: fillAnim 2s ease forwards;
}

/* Different widths based on skill level
.java    { width: 85%; }
.web     { width: 65%; }
.aws     { width: 60%; }
.python  { width: 70%; }
.sel  { width: 75%; } */

@keyframes fillAnim {
    to {
        width: var(--target-width);
    }
}

.a2details p {
    /* max-height: 550px; */
    overflow: hidden;
}

.c1 {
    display: flex;
    /* flex-direction: row; */
    align-items: center;
}

.s1 {
    display: flex;
    flex: 1;
}

.resume {
    margin-top: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid red;
}

.headresume {
    justify-content: center;
    align-items: center;
}

.mid {
    display: flex;
    flex-direction: row;
}

.resume {
    opacity: 0;
    transform: translateY(100px);
    animation: slidein 1s ease-out forwards;
}

@keyframes slidein {
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.works {
    margin-top: 45px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 100px;
    gap: 20px;
}

.ablock,
.bblock,
.cblock,
.dblock {
    height: 250px;
    width: 250px;
    overflow: hidden;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
    transition: background-color 0.7s ease, color 0.7s ease, box-shadow 0.7s ease;
}

.ablock h3,
.bblock h3,
.cblock h3,
.dblock h3 {
    transform: translateY(40px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.ablock p,
.bblock p,
.cblock p,
.dblock p {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.ablock:hover,
.bblock:hover,
.cblock:hover,
.dblock:hover {
    background-color: black;
    color: white;
    box-shadow: 0px 10px 15px grey;
}

.ablock:hover h3,
.bblock:hover h3,
.cblock:hover h3,
.dblock:hover h3,
.ablock:hover p,
.bblock:hover p,
.cblock:hover p,
.dblock:hover p {
    opacity: 1;
    transform: translateY(0);
}

.doing {
    margin-top: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    max-width: auto;
    font-family: 'Unbounded', sans-serif;
}

.works {
    /* width: 100vw; */
    /* overflow: hidden;
    padding: 20px 0px; */
    flex-wrap: wrap;
}

.works a {
    text-decoration: none;
    color: black;
}

.c1111 {
    height: 250px;
    align-content: center;
    padding-left: 30px;
    font-size: 50px;
    background-color: rgba(192, 192, 192, 0.2);
    transition: background-color 0.5s ease-in, color 0.5s ease-in;
}

.c1111 h4 {
    margin: 20px 0px;
}

.c21 {
    display: flex;
    flex-direction: row;
    box-shadow: -10px 0 15px rgba(0, 0, 0, 0.3);
}

.c212 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.c212 .form-group {
    margin-bottom: 30px;
}

.c211 h3 {
    margin-bottom: 20px;
    font-size: 40px;
}

.c211 {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 15px;
    padding-left: 25px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}

.c212 {
    flex: 2;
    padding: 30px;
    background-color: white;
    font-family: Arial, sans-serif;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
    /* padding-bottom: 100px; */
}

.footer {
    /* margin-top: 20px; */
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: -10px 0 15px rgba(0, 0, 0, 0.4);
    font-size: 20px;
    font-weight: 300;
    background-color: black;
    /* Add this */
}

.footer div a {
    color: white;
    padding: 4px;
    border-radius: 8px;
    border: 1px solid transparent;
    transition: border 0.5s ease, border-radius 0.5s ease 1s;
}

.insta:hover a,
.link:hover a,
.fac:hover a,
.twit:hover a,
.dis:hover a {
    border-radius: 8px;
    border: 1px solid white;
    cursor: pointer;
    box-shadow: 2px 2px 6px rgba(255, 255, 255, 0.8);
}

.webpages {
    margin-top: 20px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    max-width: 100vw;
    overflow-y: auto;
    gap: 30px;
    padding: 40px 35px;
    margin-bottom: 40px;
    scrollbar-width: none;
}

.bleft {
    padding: 3px 5px;
    position: sticky;
    background-color: transparent;
    position: sticky;
    left: 0;
    z-index: 1000;
    cursor: pointer;
    transform: scale(1);
    border: 1px solid transparent;
    transition: transform 0.3s ease-in;
}

.bright {
    padding: 3px 5px;
    position: sticky;
    background-color: transparent;
    position: sticky;
    right: 0;
    z-index: 1000;
    cursor: pointer;
    transform: scale(1);
    border: 1px solid transparent;
    transition: transform 0.3s ease-in;
}

.bleft:hover,
.bright:hover {
    transform: scale(2);
    transition: transform 0.3s ease-in;
    box-shadow: 5 5px 8px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.18);
    /* background-color: rgba(255, 255, 255, 0.8); */
    backdrop-filter: blur(30px);
    border-radius: 6px;
}

.p1,
.p2,
.p3,
.p4,
.p5 {
    border: 2px solid transparent;
    border-radius: 18px;
    margin: 0px 10px;
}

.p1 img,
.p2 img,
.p3 img,
.p4 img,
.p5 img {
    width: 360px;
    height: 360px;
    border-radius: 18px;
    transform: scale(1);
    transition: transform 0.3s ease;
}

.p1 img:hover,
.p2 img:hover,
.p3 img:hover,
.p4 img:hover,
.p5 img:hover {
    transform: scaleX(1.2);
    transition: transform 0.3s ease;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.5);
}

.music {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 1px solid black;
    background-color: white;
    position: relative;
    cursor: pointer;
}

.music span.music1 {
    display: none;
}

.music span.nomusic {
    height: 30px;
    width: 30px;
    /* color: black; */
    font-size: large;
    transform: scale(1);
    transition: all 0.1s ease-in;
}

.music span.nomusic:active {
    height: 50px;
    width: 50px;
    transform: scale3d(2);
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.1s ease-in forwards;
}

.music:active {
    background-color: black;
}

@keyframes imgdec {
    from {
        width: 360px;
    }

    to {
        width: 400px;
    }
}

.whead {
    display: flex;
    justify-content: center;
    font-family: 'Unbounded', sans-serif;
}

.form-group {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 8px;
}

#Country {
    width: 100%;
    outline: none;
    box-shadow: 0px 10px 15px rgba(192, 192, 192, 0.4);
    border: 1px solid transparent;
    padding: 10px;
    padding-left: 8px;
    border-radius: 9px;
}

input[type=text],
textarea,
input[type=Email] {
    outline: none;
    padding: 10px;
    padding-left: 8px;
    width: 100%;
    border-radius: 9px;
    box-shadow: 0px 10px 15px rgba(192, 192, 192, 0.2);
    border: 1px solid transparent;
    resize: none;
}

textarea {
    padding-top: 28px;
}

/* #Country option:focus {
  color: rgba(0, 0, 0, 1); 
  font-style: italic;
  background-color: black;
} */

input[type=text]:focus,
textarea:focus,
input[type=Email]:focus,
#Country:focus {
    border: 1px solid rgba(0, 0, 0, 0.2);
}

#sbutton {
    justify-content: center;
    margin-top: 20px;
}

#sbutton button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    /* border: 1px solid black; */
    background-color: white;
    color: black;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: background-color 0.3s ease-in, color 0.3s ease-in;
}

#sbutton button:hover {
    background-color: black;
    color: white;
}

@media screen and (min-width:641px) and (max-width:800px) {
    * {
        transition: all 5s ease forwards;
    }

    .con2 img {
        position: relative;
        top: 40px;
        height: 200px;
        width: 200px;
    }

    /* .webpages {
        display: flex;
        justify-content: center;
    } */

    /* .bleft,.bright{ 
        display: none;
    }  */

    .con .name h1 {
        font-size: 35px;
    }

    .con .desc p {
        font-size: 15px;
    }

    .role {
        margin-bottom: 10px;
        font-size: 15px;
    }

    .about1 {
        display: flex;
        flex-direction: row;
    }

    .con3 {
        display: flex;
        flex-direction: column;
    }

    .a12 {
        display: flex;
        flex-direction: column;
    }

    /* .webpages{
        flex-wrap: wrap;
    } */

    .footer {
        height: 100px;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        box-shadow: -10px 0 15px rgba(0, 0, 0, 0.4);
        font-size: 15px;
        font-weight: 300;
        background-color: black;
    }

    .c21 {
        display: flex;
        flex-direction: column;
    }

    .c1111 {
        height: 150px;
        align-content: center;
        padding-left: 20px;
        font-size: 25px;
        background-color: rgba(192, 192, 192, 0.2);
    }

    .c211p {
        display: none;
    }

    /* .centerwrap{
        margin-top: 260px;
        top: 0;
        z-index: 100;
        margin-bottom: 260px;
    }
    .doing{
        margin-top: 60px;
    } */
    /* .doing h1{
        margin-top: 20px;
        font-size: 25px;
     } */
}

@media screen and (min-width: 395px) and (max-width: 640px) {
    * {
        transition: all 0.1s ease forwards;
    }


    .home,
    .about,
    .services,
    .pf,
    .contact {
        display: none;
    }

    /* .bleft,.bright{
        display: none;
    } */

    .toggle {
        display: flex;
        flex-direction: column;
        gap: 7px;
        padding: 8px;
        border: 3px solid transparent;
        border-radius: 12px;
        transition: border 0.3s ease, box-shadow 0.3s ease;
    }

    .toggle:hover {
        cursor: pointer;
        border-color: rgba(0, 0, 0, 1);
        box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
    }

    .toggle span {
        width: 32px;
        height: 3px;
        background-color: black;
        border-radius: 105px;
    }

    .con2 img {
        position: relative;
        top: 40px;
        height: 200px;
        width: 200px;
    }

    .con .name h1 {
        font-size: 30px;
    }
    .role {
        margin-bottom: 10px;
        font-size: 15px;
    }

    .about1 {
        display: flex;
        flex-direction: row;
    }

    .con3 {
        display: flex;
        flex-direction: column;
    }

    .a12 {
        display: flex;
        flex-direction: column;
    }

    /* .webpages{
        flex-wrap: wrap;
    } */


    .footer {
        height: 100px;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        box-shadow: -10px 0 15px rgba(0, 0, 0, 0.4);
        font-size: 10px;
        font-weight: 300;
        background-color: black;
    }

    .c21 {
        display: flex;
        flex-direction: column;
    }

    .c1111 {
        height: 150px;
        align-content: center;
        padding-left: 15px;
        font-size: 25px;
        background-color: rgba(192, 192, 192, 0.2);
    }

    .c211p {
        display: none;
    }

    .doing h1 {
        margin-top: 100px;
        font-size: 25px;
    }

    /* .centerwrap{
        margin-top: 260px;
        top: 0;
        z-index: 100;
        margin-bottom: 260px;
    }
    .doing{
        margin-top: 60px;
    } */
    /* .doing h1{
        margin-top: 20px;
        font-size: 25px;
     } */
    .webpages {
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 394px) {
    * {
        transition: all 0.1s ease forwards;
    }


    .home,
    .about,
    .services,
    .pf,
    .contact {
        display: none;
    }

    .toggle {
        display: flex;
        flex-direction: column;
        gap: 7px;
        padding: 8px;
        border: 3px solid transparent;
        border-radius: 12px;
        transition: border 0.3s ease, box-shadow 0.3s ease;
    }

    .toggle:hover {
        cursor: pointer;
        border-color: rgba(0, 0, 0, 1);
        box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
    }

    .toggle span {
        width: 32px;
        height: 3px;
        background-color: black;
        border-radius: 105px;
    }

    .con2 img {
        position: relative;
        top: 40px;
        height: 200px;
        width: 200px;
    }

    .con .name h1 {
        font-size: 20px;
    }

    .con .desc p {
        font-size: 10px;
    }

    .about1 {
        display: flex;
        flex-direction: row;
    }

    .con3 {
        display: flex;
        flex-direction: column;
    }

    .a12 {
        display: flex;
        flex-direction: column;
    }

    .footer {
        height: 100px;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        box-shadow: -10px 0 15px rgba(0, 0, 0, 0.4);
        font-size: 10px;
        font-weight: 300;
        background-color: black;
    }

    .c21 {
        display: flex;
        flex-direction: column;
    }

    .c1111 {
        height: 150px;
        align-content: center;
        padding-left: 15px;
        font-size: 25px;
        background-color: rgba(192, 192, 192, 0.2);
    }

    .c211p {
        display: none;
    }

    .con1 {
        margin-bottom: 100px;
    }

    .doing h1 {
        margin-top: 100px;
        font-size: 25px;
    }

    .footer span {
        display: none;
    }

    /* .webpages {
        display: flex;
        justify-content: center;
        
    } */

    /* .centerwrap{
        margin-top: 260px;
        top: 0;
        z-index: 100;
        margin-bottom: 260px;
    }
    .doing{
        margin-top: 60px;
    } */
}