@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Figtree", sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: white;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.righth,
.lefth {
    display: flex;
    flex-direction: row;
    padding: 20px 40px;
}

.righth{
    margin-top: 20px;
    gap: 32px;
}

.home1,
.about11,
.services1,
.pf1,
.contact1{
    color: black;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}
.home,
.about,
.services,
.pf,
.contact{
    display: inline-block;
}
.h-b{
    width: 100%;
    height: 2px;
    background-color: black;
    opacity: 0;
}
.home:hover .h-b,
.about:hover .h-b,
.services:hover .h-b,
.pf:hover .h-b,
.contact:hover .h-b{
    animation: line 0.7s ease forwards;
}
@keyframes line{
    from{
        opacity: 1;
        width: 0px;
    }
    to{
        opacity: 1;
        width: 100%;
    }
}
.rt {
    padding: 0px 15px 0px 15px;
    color: black;
    font-size: 22px;
    letter-spacing: 1.5px;
}

.rt .c {
    background-color: black;
    color: white;
    padding: 0px 4px 0px 4px;
    border-radius: 10px 0px 0px 15px;
    letter-spacing: 1.5px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
    transition: background-color 0.2s ease, color 0.2s ease;
}

.rt:hover .c {
    background-color: white;
    color: black;
}

.rt .b {
    padding: 0px 4px 0px 4px;
    border-radius: 0px 10px 15px 0px;
    letter-spacing: 1.5px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
    transition: background-color 0.2s ease, color 0.2s ease;
}

.rt:hover .b {
    background-color: black;
    color: white;
}

a {
    text-decoration: none;
}

.con {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 2;
    margin-left: 20px;
}

.con2 {
    flex: 1;
}

.con h1 {
    font-size: 70px;
    font-family: 'Roboto Mono', monospace;
}

.con1 {
    display: flex;
    flex-direction: row;
}

.con2 img {
    position: relative;
    top: 40px;
    height: 500px;
    width: 500px;
}

.centerwrap {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.con3 {
    display: flex;
    flex-direction: row;
    height: auto;
    width: 1050px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
}

.img12 {
    height: 200px;
    width: 200px;
    border-radius: 100%;
}

.about1,
.about2 {
    padding: 20px 20px;
    flex: 1;
}

.about1 {
    display: flex;
    flex-direction: column;
}

.a2h {
    padding-bottom: 20px;
}

.a121,
.a122 {
    padding: 10px;
}

.a12 {
    display: flex;
    flex-direction: row;
}

.a122 {
    padding: 40px 0px 40px 10px;
}

ul {
    list-style: none;
    line-height: 30px;
}

.a13 {
    padding-top: 20px;
    padding-left: 20px;
}

.a13 h3 {
    padding-bottom: 10px;
}

.a2h h2 {
    display: inline-block;
    border-bottom: 3px solid black;
}


.a13 {
    font-family: sans-serif;
}

.skills li {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 16px;
}

.bar {
    height: 8px;
    width: 70%;
    background-color: #e0e0e0;
    border-radius: 5px;
    margin-top: 6px;
    overflow: hidden;
}

.centerwrap {
    opacity: 0;
    transform: translateY(100px);

}

.centerwrap.active {
    animation: slideInUp 1s ease-out forwards;
}

@keyframes slideInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fill {
    height: 100%;
    background-color: black;
    width: 0%;
    transition: width 0.3s ease;
    border-radius: 5px;
}

.fill.active {
    animation: fillAnim 2s ease forwards;
}

/* Different widths based on skill level
.java    { width: 85%; }
.web     { width: 65%; }
.aws     { width: 60%; }
.python  { width: 70%; }
.sel  { width: 75%; } */

@keyframes fillAnim {
    to {
        width: var(--target-width);
    }
}

.a2details p {
    /* max-height: 550px; */
    overflow: hidden;
}

.c1 {
    display: flex;
    /* flex-direction: row; */
    align-items: center;
}

.s1 {
    display: flex;
    flex: 1;
}

.resume {
    margin-top: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid red;
}

.headresume {
    justify-content: center;
    align-items: center;
}

.mid {
    display: flex;
    flex-direction: row;
}

.resume {
    opacity: 0;
    transform: translateY(100px);
    animation: slidein 1s ease-out forwards;
}

@keyframes slidein {
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.works {
    margin-top: 45px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 100px;
    gap: 20px;
}

.ablock,
.bblock,
.cblock,
.dblock {
    height: 250px;
    width: 250px;
    overflow: hidden;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
    transition: background-color 0.7s ease, color 0.7s ease, box-shadow 0.7s ease;
}

.ablock h3,
.bblock h3,
.cblock h3,
.dblock h3 {
    transform: translateY(40px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.ablock p,
.bblock p,
.cblock p,
.dblock p {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.ablock:hover,
.bblock:hover,
.cblock:hover,
.dblock:hover {
    background-color: black;
    color: white;
    box-shadow: 0px 10px 15px grey;
}

.ablock:hover h3,
.bblock:hover h3,
.cblock:hover h3,
.dblock:hover h3,
.ablock:hover p,
.bblock:hover p,
.cblock:hover p,
.dblock:hover p {
    opacity: 1;
    transform: translateY(0);
}

.doing {
    margin-top: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    max-width: auto;
    font-family: 'Unbounded', sans-serif;
}

.works a {
    text-decoration: none;
    color: black;
}
.c1111 {
    height: 250px;
    align-content: center;
    padding-left: 30px;
    font-size: 50px;
    background-color:  rgba(192, 192, 192, 0.2);
    transition: background-color 0.5s ease-in,color 0.5s ease-in;
}
.c1111 h4{
    margin: 20px 0px;
}
.c21{
    display: flex;
    flex-direction: row;
    box-shadow: -10px 0 15px rgba(0, 0, 0, 0.3);
}
.c212{
    display: flex;
    flex-direction: column;
}
.c212 .form-group{
    margin-bottom: 30px;
}
.c211 h3{
    margin-bottom: 20px;
    font-size: 40px;
}
.c211 {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 15px;
    padding-left: 25px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}
.c212 {
    flex: 2;
    padding: 30px;
    background-color: white;
    font-family: Arial, sans-serif;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
    /* padding-bottom: 100px; */
}
.footer {
    /* margin-top: 20px; */
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: -10px 0 15px rgba(0, 0, 0, 0.4);
  font-size: 20px;
  font-weight: 300;
  background-color: black; /* Add this */
}
.footer  div a{
    color: white;
    padding: 4px;
    border-radius: 8px;
    border: 1px solid black;
    transition: border 0.5s ease,border-radius 0.5s ease 1s;
}
.insta:hover  a
,.link:hover  a,
.fac:hover  a,
.twit:hover  a,
.dis:hover  a
{
    border-radius: 8px;
    border: 1px solid white;
    cursor: pointer;
}
.projects{
    margin-top: 20px;
    display: flex;
    max-width: 100vw;
    overflow-x: hidden;
    gap: 0px;
}
.p1,.p2,.p3,.p4{
    display: flex;
    flex-direction: row;
    flex: 1;
}
.p1 img ,.p2 img ,.p3 img ,.p4 img{
    width: 400px;
    height: 400px;
}